<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hijob">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".sesion.UserApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HiJob">
       
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:theme="@style/Theme.HiJob.NoActionBar"/>
        <activity
            android:name=".Login"
            android:exported="false"
            android:theme="@style/Theme.HiJob.NoActionBar"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.HiJob.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemDetailHostActivity"
            android:label="@string/app_name"
            android:resizeableActivity="true"
            android:exported="true"
            tools:targetApi="24">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>